@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
@font-face {
  font-family: mc-l;
  src: url(../font/mplus-1m-light.ttf) format("opentype"); }

@font-face {
  font-family: mc-b;
  src: url(../font/mplus-1m-bold.ttf) format("opentype"); }

@font-face {
  font-family: mc-r;
  src: url(../font/mplus-1m-regular.ttf) format("opentype"); }

@font-face {
  font-family: mc-t;
  src: url(../font/mplus-1m-thin) format("opentype"); }

@font-face {
  font-family: mc-m;
  src: url(../font/mplus-1m-medium.ttf) format("opentype"); }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

.vertical {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl; }

* {
  padding: 0;
  margin: 0; }

.center {
  width: 80%;
  margin: 0 auto; }

.partical {
  width: 90%;
  background-color: #000;
  margin: 10px 0;
  margin: 0 auto; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

.com-about {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
  text-align: center; }
  .com-about h2 {
    font-size: 40px; }
  .com-about .point {
    width: 34px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .com-about p.setumei2 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 30px;
    padding-bottom: 40px; }
  .com-about .click {
    width: 400px;
    margin-top: 40px; }

.machi {
  width: 100%;
  height: 720px;
  background-color: #e0f2f2;
  margin-bottom: 100px; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: "yu gothic", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #000; }

::-moz-selection {
  background-color: #ff0033; }

::selection {
  background-color: #ff0033; }

::-moz-selection {
  background-color: #ff0033; }

.field {
  height: 98vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden; }
