//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定
@import "lib/community";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);

body {
	font-family: "yu gothic", sans-serif;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: #fff;
	color: #222222;
}

::selection {
	background-color: #ff0033; //コピーの色を変える
}
::-moz-selection {
	background-color: #ff0033;
}

 //@keyframes color_up {
 //   0%{background-color: rgba(255,255,255,0);}
 //   100%{background-color: rgba(255,255,255,0.4);}
//}

.main-header {
	width: 360px;
	box-sizing :border-box;
	padding: 20px 40px 0px;
	background-color: #fff;
	position: fixed;
	height: 100vh;
	top: 0;
	//animation: color_up .4s ease infinite alternate;
	@include max-screen($breakpoint-mobile) {
		width: 100%;
		padding: 10px 0px 0px 10px;
		z-index: 101;
		background-color: rgba(255,255,255,0);
	}
	h1 {
		padding-top: 24px;
		a {
			text-decoration: none;
			color: #000;
			position: relative;
			right: 4px;
			.name_logo {
				width: 220px;
				@include max-screen($breakpoint-mobile) {
					width: 100px;
				}
			}
		}
	}
	.trigger {
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		float: right;
	    width: 20px;
	    height: 14px;
	    right: 10px;
	    top: 14px;
	    transition: .8s;
	    z-index: 100;
	    @include min-screen($breakpoint-mobile) { 
	    	display: none;
	    }
	    .line {
		    position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #222;
			border-radius: 0px;
			transition: all .8s;
	    }
		.first {
			top: 0;
		}
		.second {
			top: 6px;
		}
		.third {
			top: 12px;
		}
	}
	.active {
		.first {
			-webkit-transform: translateY(10px) rotate(-45deg);
    		transform: translateY(5px) rotate(-45deg);
		}
		.second {
			opacity: 0;
		}
		.third {
			-webkit-transform: translateY(-10px) rotate(45deg);
    		transform: translateY(-7px) rotate(45deg);
		}
	}
	.main-nav {
		margin-top: 50px;
		@include max-screen($breakpoint-mobile) {
			display: none;
			width: 100%;
			background-color: rgba(255,255,255,0.8);
			height: 100vh;
			text-align: center;
		}
		li {
			list-style-type: none;
			margin: 8px 0px;
			font-size: 11px;
			font-weight: 400;
			@include max-screen($breakpoint-mobile) {
				font-size: 16px;
			}
			a {
				text-decoration: none;
				color: #000;
			}
		}
		.future_past {
			position: relative;
			@include max-screen($breakpoint-mobile) {
				margin-bottom: 10px;
				margin-top: 10px;
			}
			.sp-small {
				@include max-screen($breakpoint-mobile) {
					font-size: 6px;
				}
			}
			&:hover {
    			.past_list {
					visibility: visible;
	    			opacity: 1;
    			}
			}
			.past_list {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: -12px;
				right: 120px;
			    transition: all .2s ease;
			    -webkit-transition: all .2s ease;
			    @include max-screen($breakpoint-mobile) {
			    	visibility: visible;
			    	position: static;
			    	opacity: 1;
			    	color: #000;
			    }
			    li {
			    	position: relative;
			    	a {
			    		color: #888;
				    	@include max-screen($breakpoint-mobile) {
				    	color: #000;
				    	}
			    	}
			    }
			}
		}
		.ex {
			position: relative;
			width: 110px;
			@include max-screen($breakpoint-mobile) {
				position: static;
				width: auto;
				margin-bottom: 10px;
			}
			.sp-small {
				@include max-screen($breakpoint-mobile) {
					font-size: 6px;
				}
			}
			&:hover {
    			.ex_list {
					visibility: visible;
	    			opacity: 1;
    			}
    		}
			.ex_list {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: -12px;
				left: 116px;
			    transition: all .2s ease;
			    -webkit-transition: all .2s ease;
			    @include max-screen($breakpoint-mobile) {
			    	visibility: visible;
			    	position: static;
			    	opacity: 1;
			    	color: #000;
			    }
			    li {
			    	a {
			    		color: #888;
			    		@include max-screen($breakpoint-mobile) {
			    			color: #000;
			    		}
			    	}
			    }
			}
		}
	}
	.copyright{
		position: absolute;
		bottom: 30px;
		@include max-screen($breakpoint-mobile) {
			display: none;
		}
	}
}

.top-content {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	.top_slide {
		animation: show 48s infinite;
		-webkit-animation: show 48s infinite;
		height: auto;
		width: 100%;
		max-width: 100%;
		opacity: 0;
		position: absolute;
		@include max-screen($breakpoint-mobile) {
	 		height: 100%;
	 		width: auto;
	 		max-width: none;	
	 		right: -60%; 	
	 	}
	}
	#name {
		line-height: 100vh;
		text-align: center;
		color: #fff;
		font-size: 24px;
		letter-spacing: 6px;
		position: absolute;
		left: 0;
		right: 0;
		a {
			text-decoration: none;
			color: #fff;
			img {
				width: 180px;
			}
		}
	}
}

@keyframes show {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
 }

@-webkit-keyframes show {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
}

.top-content img:nth-of-type(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.top-content img:nth-of-type(2) {
    animation-delay: 8s;
    -webkit-animation-delay: 8s;
}

.top-content img:nth-of-type(3) {
    animation-delay: 16s;
    -webkit-animation-delay: 16s;
}

.top-content img:nth-of-type(4) {
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
}

.top-content img:nth-of-type(5) {
    animation-delay: 32s;
    -webkit-animation-delay: 32s;
}

.top-content img:nth-of-type(6) {
    animation-delay: 40s;
    -webkit-animation-delay: 40s;
}

.top-content img {
    transition: .5s;
    -webkit-transition: .5s;
}

.toppage-content {
	width: calc(100% - 360px);
	box-sizing: border-box;
	padding-top: 70px;
	margin-left: 360px;
	height: 100vh;
	overflow: hidden;
	position: relative;
	@include max-screen($breakpoint-mobile) {
		width: 100%;
		margin: 100px 0px 0px;
	}
	.toppage-image-image{
		margin-top: 90px;
		width: 80%;
		animation: show2 36s infinite;
		-webkit-animation: show2 36s infinite;
		position: absolute;
		opacity: 0;
		left: 40px;
		top: 0;
		@include max-screen($breakpoint-mobile) {
			width: 80%;
		}
	}
}

@keyframes show2 {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
 }

@-webkit-keyframes show2 {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
}

.toppage-content img:nth-of-type(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.toppage-content img:nth-of-type(2) {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.toppage-content img:nth-of-type(3) {
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

.toppage-content img:nth-of-type(4) {
    animation-delay: 18s;
    -webkit-animation-delay: 18s;
}

.toppage-content img:nth-of-type(5) {
    animation-delay: 24s;
    -webkit-animation-delay: 24s
}

.toppage-content img:nth-of-type(6) {
    animation-delay: 30s;
    -webkit-animation-delay: 30s;
}

.toppage-content img {
    transition: 1s;
    -webkit-transition: 1s;
}

.about-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	.profile-image {
		width: 40%;
		float: left;
		#profile-image-image {
			width: 100%;
		}
	}
	.profile-text {
		float: left;
		width: 40%;
		margin-left: 20px;
		h3 {
			font-size: 14px;
			margin-bottom: 10px;
			font-weight: 400;
		}
		p {
			line-height: 20px;
			letter-spacing: 0.2px;
			font-weight: 300;
			font-size: 12px;
		}
		.english {
			margin-top: 10px;
		}
		.profile-text-name {
			margin-bottom: 26px;
		}
		h4 {
			font-size: 14px;
			margin-bottom: 10px;
			font-weight: 400;
		}
	}
}

.news-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	.news-image {
		width: 90%;
		overflow: hidden;
		font-weight: 300;
		font-size: 12px;
		.news-image-image {
			width: 34%;
			margin-right: 20px;
			margin-top: 20px;
		}
	}
	.news-text {
		width: 62%;
		font-weight: 300;
		font-size: 12px;
		h3 {
			font-size: 16px;
			font-weight: 700;
			margin: 10px 0px;
		}
		.actor {
			margin-top: 20px;
		}
	}
}

.works-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 600;
	}
	.url {
		color: #222;
	}
	.works-image {
		width: 90%;
		.main-list {
			display: -webkit-flex;
  			display: flex;
  			flex-wrap: wrap;
  			margin-top: 20px;
  			li {
  				width: 160px;
  				height: 160px;
  				background-color: #666;
  				list-style-type: none;
  				margin-right: 20px;
   				margin-top: 20px;
   				position: relative;
  				a {
  					display: block;
  					height: 100%;
  					overflow: hidden;
  					&:hover {
  						.caption {
  							opacity: 1;
  							transition: .5s;
  							font-size: 8px;
  							-webkit-transition: .5s;
  						}
  						img {
  							filter: blur(1px);
  							transition: .5s;
  							-webkit-transition: .5s;
  						}
  					}
  					img {
  						height: 100%;
  					}
  					.caption {
  						position: absolute;
  						letter-spacing: 1px;
  						top: 0;
  						width: 100%;
  						height: 100%;
  						background-color: rgba(0,0,0,0.4);
  						color: #fff;
  						text-align: center;
  						line-height: 160px;
  						opacity: 0;
  						font-weight: 500;
  					}
  				}
  			}
  		}
    		iframe {
  			width: 700px;
  			height: 500px;
  			margin-top: 30px;
  			border: none;
  		}
	}
}

.works2-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 600;
	}
	.url {
		color: #222;
	}
	.works2-image {
		width: 90%;
		text-align: center;
		.new {
			display: block;
			text-decoration: none;
			color: #222;
			&:hover {
				img {
  					filter: blur(2px);
  					transition: .5s;
  					-webkit-transition: .5s;
				}
			}
			.new-img {
				width: 50%;
			}
		}
		.work-list {
			display: -webkit-flex;
  			display: flex;
  			flex-wrap: wrap;
  			margin: 20px 0px 40px 130px;
  			li {
  				min-width: 200px;
  				width: 40%;
  				background-color: #666;
  				list-style-type: none;
  				margin-right: 40px;
   				margin-top: 20px;
   				position: relative;
   				background-color: #fff;
  				a {
  					display: block;
  					overflow: hidden;
  					text-decoration: none;
  					color: #222;
  					&:hover {
  						.caption {
  							opacity: 1;
  							transition: .5s;
  							-webkit-transition: .5s;
  						}
  						img {
  							filter: blur(2px);
  							transition: .5s;
  							-webkit-transition: .5s;
  						}
  					}
  					img {
  						width: 100%;
  					}
  				}
  			}
  		}
    	iframe {
  			width: 70%;
  			height: 500px;
  			margin-top: 30px;
  			border: none;
  		}
	}
}

.ex2-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 600;
	}
	.url {
		color: #222;
	}
	.ex2-image {
		width: 90%;
		text-align: center;
		.new {
			display: block;
			color: #222;
			max-height: 500px;
			.new-img {
				max-height: 500px;
			}
		}
		.ex2-list {
			display: -webkit-flex;
  			display: flex;
  			overflow: scroll;
  			margin-top: 30px;
  			margin-bottom: 40px;
  			li {
  				background-color: #666;
  				list-style-type: none;
  				margin-right: 5px;
   				margin-top: 20px;
   				position: relative;
   				background-color: #fff;
  				.samne {
  					display: block;
  					text-decoration: none;
  					position: relative;
  					color: #222;
  					&:hover {
  						cursor: pointer;
  						img {
  							filter: blur(2px);
  							transition: .5s;
  							-webkit-transition: .5s;
  						}
  					}
  					img {
  						height: 120px;
  					}
  				}
  			}
  		}
	}
}

.portrait-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	.portrait-image {
		width: 90%;
		.main-list {
			display: -webkit-flex;
  			display: flex;
  			flex-wrap: wrap;
  			margin-top: 20px;
  			li {
  				width: 160px;
  				height: 160px;
  				background-color: #666;
  				list-style-type: none;
  				margin-right: 20px;
   				margin-top: 20px;
   				position: relative;
  				a {
  					display: block;
  					height: 100%;
  					overflow: hidden;
  					&:hover {
  						.caption {
  							opacity: 1;
  							transition: .5s;
  							-webkit-transition: .5s;
  							font-size: 8px;
  						}
  						img {
  							filter: blur(1px);
  							transition: .5s;
  							-webkit-transition: .5s;
  						}
  					}
  					img {
  						height: 100%;
  					}
  					.caption {
  						position: absolute;
  						letter-spacing: 1px;
  						top: 0;
  						width: 100%;
  						height: 100%;
  						background-color: rgba(0,0,0,0.4);
  						color: #fff;
  						text-align: center;
  						line-height: 160px;
  						opacity: 0;
  						font-weight: 500;
  					}
  				}
  			}
  		}
	}
}

.ex-content {
	width: calc(100% - 360px);
	box-sizing: border-box;
	padding-top: 70px;
	margin-left: 360px;
	overflow: hidden;
	height: 100vh;
	overflow: hidden;
	position: relative;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	.ex-image {
		width: 70%;
		overflow: hidden;
		margin: 0 auto;
		.slider {
			width: 100%;
			li {
				text-align: center;
				img {
				    max-width: 100%;
				    max-height: 100%;
				    height: 60vh;
				    width: auto\9; /* ie8 */
				    margin: 0 auto;
				}
			}
		}
		.slider-thumb {
			margin-top: 14px;
			img {
				width: 150px;
				height: 150px;
			}
		}
  	}
}

.movie-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	h3 {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 20px;
		font-family: "yu gothic", sans-serif;
	}
	.movie-image {
		width: 90%;
		overflow: hidden;
		margin-bottom: 30px;
		.movie-image-image {
			width: 42%;
			margin-right: 60px;
		}
	}
	.movie-text {
		width: 80%;
		font-weight: 300;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 20px;
		a {
			color: #222;
			margin-bottom: 10px;
		}
		.setsumei {
			margin: 10px 0px;
		}
		.cast {
			margin-top: 14px;
		}
		.actor2 {
			margin-top: 10px;
		}
	}
	.movie-image-list {
		width: 90%;
		margin-bottom: 50px;
		.main-list {
			display: -webkit-flex;
  			display: flex;
  			flex-wrap: wrap;
  			margin-top: 20px;
  			li {
  				width: 160px;
  				height: 160px;
  				background-color: #666;
  				list-style-type: none;
  				margin-right: 20px;
   				margin-top: 20px;
  				a {
  					display: block;
  					height: 100%;
  					overflow: hidden;  					
  					img {
  						height: 100%;
  					}
  				}
  			}
		}	
	}
}

.contact-content {
	width: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 360px;
	overflow: hidden;
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
		font-weight: 600;
	}
	.sigoto {
		font-weight: 300;
		font-size: 12px;
		letter-spacing: 0.5px;
	}
	.contact-text {
		a {
			color: #000;
			font-size: 12px;
			font-weight: 300;
		}
		p {
			margin-top: 20px;
			font-size: 14px;
			font-weight: 500;
		}
	}
}

