doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="description" content="ちゃんちーがVJするためのサイトです")
    meta(name="author" content="chanchi-")
    meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=no")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" href="")
    script(src="js/bodymovin.js")
    title ちゃんちVJ
  body
   div.inner
    div#bodymovin.field
    div#bodymovin2.field
    div#bodymovin3.field
    div#bodymovin4.field
   audio#sound(preload="auto")
    source(src="se/vj-1.mp3" type="audio/mp3")
   audio#sound2(preload="auto")
    source(src="se/vj-2.mp3" type="audio/mp3")
   audio#sound3(preload="auto")
    source(src="se/vj-3.mp3" type="audio/mp3")
   audio#sound4(preload="auto")
    source(src="se/vj-4.mp3" type="audio/mp3")
   script(src="js/bundle.js")