doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="description" content="写真家・小野寺亮のウェブサイト")
    meta(name="author" content="chanchi-")
    meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=no")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="shortcut icon" href="img/ryo_onodera.jpg")
    title Ryo Onodera
  body
   div.top-content
    img.top_slide(src="img/top/top1.jpg")
    img.top_slide(src="img/top/top2.jpg")
    img.top_slide(src="img/top/top3.jpg")
    img.top_slide(src="img/top/top4.jpg")
    img.top_slide(src="img/top/top5.jpg")
    img.top_slide(src="img/top/top6.jpg")
    p#name 
     a(href="top.html")
      img(src="img/logo/logo_white2.png")